html {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.h1 {
  font-size: 2.8rem;
  line-height: 4.2rem;
}

.h2 {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.desc {
  font-size: 0.9rem;
  line-height: 1.35rem;
}

:root {
  --black: #000;
  --white: #FFF;
  --silverChalice: #ADADAD;
}

.page-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1220px;
}

.homepage-content {
  padding: 0 2rem;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("hero-background.ff0a8c20.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  margin-top: 2.75rem;
  text-align: center;
}

.header__title {
  margin: 0;
}

.header__desc {
  margin: 0.5rem 0 0 0;
}

.header__btn {
  margin: 0.8rem 0 0 0;
}

.header__info {
  margin: 0.8rem 0 0 0;
}

.header__img {
  display: block;
  width: 100%;
  padding: 0 2rem;
  margin-top: 2rem;
}

.nav {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 2rem;
  background-color: transparent;
}

.nav__logo {
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .nav__item:not(.nav__logo) {
    display: none;
  }
}

.nav__hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav__hamburger:not(.nav__logo) {
    display: block;
  }
}

.btn {
  padding: 0.75rem 1.25rem;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.35;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  background-color: var(--black);
  border: 0;
  border-radius: 0.25rem;
}

.btn .decoration {
  font-weight: 400;
  color: var(--silverChalice);
}

.btn--transparent {
  font-weight: 400;
  color: var(--black);
  background-color: transparent;
}

.btn--hamburger {
  position: relative;
  width: 40px;
  height: 35px;
  background: transparent;
  border: 0;
  border-top: 5px solid var(--black);
  transition: 0.3s transform linear;
}

.btn--hamburger::before, .btn--hamburger::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  border-top: 5px solid var(--black);
  transform: translateY(10px);
}

.btn--hamburger::after {
  transition: 0.3s transform linear;
  transform: translateY(25px);
}

.btn--hamburger:focus {
  border: none;
  transform: rotate(45deg) translateY(5px);
}

.btn--hamburger:focus::after {
  transform: rotate(-90deg) translateX(-10px);
}

.btn:hover {
  color: var(--dark);
  background-color: var(--white);
}

.call-to-action {
  display: flex;
  gap: 5rem;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.call-to-action-module {
  padding: 4rem 0;
}

.call-to-action__text-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.call-to-action__heading {
  margin: 0;
}

.call-to-action__desc {
  margin-top: 0.8rem;
}

.call-to-action__btn {
  margin-top: 0.9rem;
}

.call-to-action__images-wrapper {
  position: relative;
}

@media screen and (max-width: 768px) {
  .call-to-action__images-wrapper {
    width: 75%;
  }
}

@media screen and (max-width: 415px) {
  .call-to-action__images-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .call-to-action__editor {
    width: 100%;
  }
}

.call-to-action__floating-editor {
  position: absolute;
  top: 1.5rem;
  left: -25%;
}

@media screen and (max-width: 768px) {
  .call-to-action {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

.footer__item {
  font-size: 0.8rem;
  line-height: 1.35rem;
  color: #383838;
  text-decoration: none;
}

.footer__item:hover {
  color: var(--silverChalice);
}

.footer__item:first-of-type {
  margin-right: auto;
}

@media screen and (max-width: 415px) {
  .footer__item:first-of-type {
    width: 100%;
  }
}

@media screen and (max-width: 415px) {
  .footer {
    justify-content: flex-start;
  }
}
/*# sourceMappingURL=index.20a2ebdb.css.map */
