@use './../base/variables' as breakpoints;

.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;

    &__item {
        font-size: .8rem;
        line-height: 1.35rem;
        color: var(--clr-dark);
        text-decoration: none;
        transition: color var(--transition-swing);

        &:hover {
            color: var(--clr-tone-light);
            transition: color var(--transition-swing);
        }

        &:first-of-type {
            margin-right: auto;

            @media screen and (max-width: breakpoints.$phone) {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: breakpoints.$phone) {
        justify-content: flex-start;
    }
}
