@use '../base/breakpoints';
@use '../base/transitions';

.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;

    &__item {
        font-size: 0.8rem;
        line-height: 1.35rem;
        color: #383838;
        text-decoration: none;
        transition: color transitions.$swing;

        &:hover {
            color: var(--silverChalice);
            transition: color transitions.$swing;
        }

        &:first-of-type {
            margin-right: auto;

            @media screen and (max-width: breakpoints.$phone) {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: breakpoints.$phone) {
        justify-content: flex-start;
    }
}
